<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<menu th:fragment="menu">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <!--           <img class="logo" src="assets/images/logo.png">-->
                Kafkador
            </a>
            <a href="/" class="item">Cluster</a>
            <a href="/topics" class="item">Topics</a>
            <a href="/consumers" class="item">Consumers</a>
            <a href="/connectors" class="item">Connectors</a>
            <a href="/acls" class="item">ACLs</a>
            <a href="/sandbox" class="item">Sandbox</a>
            <a href="/connections" class="item">Connections</a>
            <a href="/settings" class="item">Settings</a>
        </div>
    </div>
</menu>