<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" th:href="${baseUrl + 'css/bootstrap/bootstrap.min.css'}">
    <link rel="stylesheet" type="text/css" th:href="${baseUrl + 'css/bootstrap/bootstrap-icons.css'}">
    <link rel="stylesheet" type="text/css" th:href="${baseUrl + 'css/kafkador.css'}">
    <link rel="icon" type="image/x-icon" th:href="${baseUrl+'assets/images/logo-shape-white-v1-256.svg'}">

    <title th:text="${page.title} ?: 'title default value'"></title>

</head>
<body>
<header th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-black sticky-top p-0 shadow">
    <div class="container-fluid">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
            <img th:src="${baseUrl + 'assets/images/logo-shape-v1.svg'}" style="width:1.5em; margin-top:-0.3em"> Kafkador
        </a>
        <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-sm dropdown-toggle headerDropDownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${connection.host + ' ' }">
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-gear m-1"></i> Settings</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-hdd-network m-1"></i> Connections</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-power m-1"></i> Disconnect</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<footer th:fragment="footer">
    <!-- Footer -->
</footer>
<div th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script th:src="${baseUrl + 'js/bootstrap/bootstrap.bundle.min.js'}"></script>
    <script th:src="${baseUrl + 'js/kafkador.js'}"></script>
</div>
</body>
</html>
