<p class="placeholder-glow" *ngIf="flags.get('getTopicsLoading')">
  <span class="placeholder col-12"></span>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-8"></span>
</p>
<div class="view-element" *ngIf="!flags.get('getTopicsLoading')">
  <div class="row align-items-start">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="card card-top-widget">
        <div class="card-body text-white d-flex">
          <div class="flex-grow-1">
            <h5 class="card-title">Topics</h5>
            <p class="card-text" class="text-s text-color-gray-9">
              Total Number of Topics: {{topics.length}}
            </p>
          </div>
          <div class="ms-auto chart-container-medium">
            <ngx-charts-bar-vertical
              *ngIf="flags.get('agentEnabled')"
              [results]="data"
              [scheme]="cartTopWidgetWhiteScheme"
              [xAxis]="false"
              [gradient]="true"
              [yAxis]="false" class="chart-full-size" >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-12 col-lg-12">
      <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createTopicModal"><i class="bi bi-plus-circle"></i> Create Topic</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">ID</th>
          <th scope="col">Partitions</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody >
          <tr *ngFor="let topic of topics" routerLink="/topic/{{topic.name}}" class="cursor-pointer">
            <th scope="row">
              <span class="badge bg-dark"><a class="badge-link">{{topic.name}}</a></span>
            </th>
            <td>{{topic.id}}</td>
            <td>{{topic.partitions}}</td>
            <td><i class="bi bi-three-dots"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- create topic -->
<div class="modal fade" id="createTopicModal" tabindex="-1" aria-labelledby="createTopicModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="mb-3">
          <label for="name" class="form-label">Topic Name:</label>
          <input required [(ngModel)]="newTopic.name" type="text" class="form-control" id="name" placeholder="e.g. TransactionEvents">
        </div>
        <div class="mb-3">
          <label for="partitions" class="form-label">Partitions:</label>
          <input required [(ngModel)]="newTopic.partitions" type="number" class="form-control" id="partitions" placeholder="e.g. 3">
        </div>
        <div class="mb-3">
          <label for="replicatorFactor" class="form-label">Replicator Factor:</label>
          <input required [(ngModel)]="newTopic.replicatorFactor" type="number" class="form-control" id="replicatorFactor" placeholder="e.g. 3">
        </div>

        <div *ngIf="errors.get('createTopic')" class="alert alert-danger" role="alert">
          {{ errors.get('createTopic')?.message }}
        </div>

      </div>
      <div class="modal-footer">
        <button *ngIf="!flags.get('createTopicLoading')" type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button *ngIf="!flags.get('createTopicLoading')" type="button" class="btn btn-primary" (click)="createTopic()">Create Topic</button>
        <div *ngIf="flags.get('createTopicLoading')">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div> Creating Topic...&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
