<p class="placeholder-glow" *ngIf="isLoading">
  <span class="placeholder col-12"></span>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-8"></span>
</p>
<div class="row mt-4" *ngIf="!isLoading">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">ID</th>
        <th scope="col">Partitions</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody >
        <tr *ngFor="let topic of topics">
          <th scope="row">
            <span class="badge bg-dark">
              <a routerLink="/topic/{{topic.name}}" routerLinkActive="active" class="badge-link">{{topic.name}}</a>
            </span>
          </th>
          <td>{{topic.id}}</td>
          <td>{{topic.partitions}}</td>
          <td>
            <i class="bi bi-box-arrow-up"></i> &nbsp;
            <i class="bi bi-box-arrow-in-up"></i> &nbsp;
            <a routerLink="/broker/{{topic.name}}" routerLinkActive="active"><i class="bi bi-three-dots"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
