<div class="row align-items-start">
  <div class="alert alert-light text-s p-2" role="alert" *ngIf="!activeConnection?.agentEnabled">
    &nbsp; To enable statistical visualizations and related feature enable Kafkador Agent
    <button type="button" class="btn btn-outline-light btn-sm text-s float-end">Configure Agent</button>
  </div>

  <div class="col-12 col-md-12 col-lg-4">
      <div class="card card-top-widget">
        <div class="card-body text-white d-flex">
          <div class="spinner-border" role="status" *ngIf="flags.get('getClusterLoading')"></div>
          <div class="flex-grow-1"  *ngIf="!flags.get('getClusterLoading')">
            <h5 class="card-title">Cluster ({{cluster.name}})</h5>
            <p class="card-text text-s">
              Brokers: {{cluster.brokers.length}} <br/>
              Controller: {{cluster.controller.host}}
            </p>
          </div>
          <div class="ms-auto chart-container-small">
            <ngx-charts-bar-vertical
              [results]="data"
              [scheme]="cartTopWidgetWhiteScheme"
              [xAxis]="false"
              [gradient]="true"
              [yAxis]="false" class="chart-full-size" >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
      <div class="card card-top-widget">
        <div class="card-body text-white d-flex">
          <div class="spinner-border" role="status" *ngIf="flags.get('getTopicLoading')"></div>
          <div class="flex-grow-1"  *ngIf="!flags.get('getTopicLoading')">
            <h5 class="card-title">Topics</h5>
            <p class="card-text text-s">
              Topics: {{topics.length}} <br/>
              Average Msp: 113
            </p>
          </div>
          <div class="ms-auto chart-container-small">
            <ngx-charts-bar-vertical
              [results]="data2"
              [scheme]="cartTopWidgetWhiteScheme"
              [xAxis]="false"
              [gradient]="true"
              [yAxis]="false" class="chart-full-size">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
      <div class="card card-top-widget">
        <div class="card-body text-white d-flex">
          <div class="spinner-border" role="status" *ngIf="flags.get('getConsumerGroupLoading')"></div>
          <div class="flex-grow-1"  *ngIf="!flags.get('getConsumerGroupLoading')">
            <h5 class="card-title">Consumers</h5>
            <p class="card-text text-s">
              Consumer Groups: {{consumerGroups.length}} <br/>
              Average Lpc: 11
            </p>
          </div>
          <div class="ms-auto chart-container-small">
            <ngx-charts-bar-vertical
              [results]="data3"
              [scheme]="cartTopWidgetWhiteScheme"
              [xAxis]="false"
              [gradient]="true"
              [yAxis]="false" class="chart-full-size">
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row mt-4">
  <div class="col-12 col-md-6 col-lg-8 chart-column-min">
    <h6><i class="bi bi-bar-chart-fill"></i>&nbsp; Average Msp</h6>
    <ngx-charts-area-chart
      [results]="data4"
      [scheme]="mainChartPrimarySchema"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="false"
      [curve]="curve"
      [showYAxisLabel]="false"
      [gradient]="true"
      [yScaleMax]="maxWithPadding"
      [xAxisTickFormatting]="formatXAxis"
      class="chart-full-size">
    </ngx-charts-area-chart>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <h6><i class="bi bi-bell"></i>&nbsp; Alerts</h6>
    <div class="spinner-border" role="status" *ngIf="flags.get('getAlertLoading')"></div>
    <div class="list-group" *ngIf="!flags.get('getAlertLoading')">
      @for (alert of alerts; track alert.title; let i = $index) {
      <a href="#" class="list-group-item list-group-item-action danger" aria-current="true">
        <div>
          <p class="alert-text mb-0">
            <span class="badge-rounded" *ngIf="alert.severity==='LOW'" class="badge text-bg-dark">{{alert.severity}}</span>
            <span class="badge-rounded" *ngIf="alert.severity==='MEDIUM'" class="badge text-bg-warning">{{alert.severity}}</span>
            <span class="badge-rounded" *ngIf="alert.severity==='HIGH'" class="badge text-bg-danger">{{alert.severity}}</span>
            {{alert.description}}
          </p>
          <small class="alert-time">{{alert.formattedTime}}</small>
        </div>
      </a>
      }
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="spinner-border" role="status" *ngIf="flags.get('getBrokerLoading')"></div>
  <div  *ngIf="!flags.get('getBrokerLoading')">
    <h6><i class="bi bi-view-stacked"></i>&nbsp; Brokers</h6>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Host</th>
          <th scope="col">Port</th>
          <th scope="col">Size (KB)</th>
          <th scope="col">Hash</th>
          <th></th>
        </tr>
        </thead>
        <tbody id="clusterBrokers">
        <tr *ngFor="let broker of cluster.brokers">
          <th scope="row">{{broker.id}}</th>
          <td>
              <span class="badge bg-dark">
                <a routerLink="/broker/{{broker.id}}" routerLinkActive="active" class="badge-link">{{broker.host}}</a>
              </span>
          </td>
          <td>{{broker.port}}</td>
          <td>{{broker.size}}</td>
          <td>{{broker.hash}}</td>
          <td><a routerLink="/broker/{{broker.id}}" routerLinkActive="active"><i class="bi bi-three-dots"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
