<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white bg-black" href="#">
    <img src="/images/logo-shape-v1.svg" style="width:1.7em; margin-top:-0.3em"> Kafkador
  </a>
  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false"
              aria-label="Toggle search">
        <i class="bi bi-search"></i>
      </button>
    </li>
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
    </li>
  </ul>
  <div id="navbarSearch" class="navbar-search w-100 collapse"><input class="form-control w-100 rounded-0 border-0" aria-label="Search"></div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
      <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
           aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">Main Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" aria-current="page" href="/">
                <i class="bi bi-diagram-3"></i> Cluster
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" routerLink="topics">
                <i class="bi bi-chat-square-text"></i> Topics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" class="nav-link d-flex align-items-center gap-2" href="/consumers">
                <i class="bi bi-journal-arrow-down"></i> Consumers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" class="nav-link d-flex align-items-center gap-2" href="/access-control">
                <i class="bi bi-shield-lock"></i> Access Control
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" class="nav-link d-flex align-items-center gap-2" href="/streams">
                <i class="bi bi-grid-3x2-gap"></i> Streams
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" class="nav-link d-flex align-items-center gap-2" href="/ksql-db">
                <i class="bi bi-database"></i> KsqlDB
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" class="nav-link d-flex align-items-center gap-2" href="/connectors">
                <i class="bi bi-box-arrow-in-right"></i> Connectors
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" class="nav-link d-flex align-items-center gap-2" href="/schema-registry">
                <i class="bi bi-layers"></i> Schema Registry
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex align-items-center gap-2" class="nav-link d-flex align-items-center gap-2" href="/connections">
                <i class="bi bi-hdd-network"></i> Connections
              </a>
            </li>
          </ul>
          <hr class="my-3">
          <ul class="nav flex-column mb-auto">
            <li class="nav-item"><a class="nav-link d-flex align-items-center gap-2" href="/settings">
              <i class="bi bi-gear"></i> Settings
            </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content min-vh-100">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1><!--{{title}}--></h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle headerDropDownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{connectedHost}}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" routerLink="/connections" routerLinkActive="active"><i class="bi bi-hdd-network"></i><span class="m-2">Connections</span></a></li>
              <li><a class="dropdown-item" routerLink="/disconnect" routerLinkActive="active"><i class="bi bi-power"></i><span class="m-2">Disconnect</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

