<div class="row">
  <ul class="nav nav-tabs" id="profileTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="overview-tab" data-bs-toggle="tab"
              data-bs-target="#generic" type="button" role="tab"
              aria-controls="generic" aria-selected="true">
        Generic
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="projects-tab" data-bs-toggle="tab"
              data-bs-target="#cluster" type="button" role="tab"
              aria-controls="cluster" aria-selected="false">
        Cluster
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="schema-Registry-tab" data-bs-toggle="tab"
              data-bs-target="#schema-Registry" type="button" role="tab"
              aria-controls="schema-Registry" aria-selected="false">
        Schema Registry
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="ksqldb-tab" data-bs-toggle="tab"
              data-bs-target="#ksqldb" type="button" role="tab"
              aria-controls="ksqldb" aria-selected="false">
        KsqlDB
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="connectors-tab" data-bs-toggle="tab"
              data-bs-target="#connectors" type="button" role="tab"
              aria-controls="connectors" aria-selected="false">
        Connectors
      </button>
    </li>
  </ul>

  <div class="tab-content border border-top-0 p-3" id="profileTabsContent">
    <div class="tab-pane fade show active" id="generic" role="tabpanel" aria-labelledby="generic-tab" tabindex="0">
      Generic
    </div>

    <div class="tab-pane fade" id="cluster" role="tabpanel" aria-labelledby="cluster-tab" tabindex="0">
      <h6>Observer Settings</h6>
    </div>

    <div class="tab-pane fade" id="schema-Registry" role="tabpanel" aria-labelledby="schema-Registry-tab" tabindex="0">
      <h6>Schema Registry Settings</h6>

      <div *ngIf="flags.get('schemaRegistryConfigLoading')" class="text-center">
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div *ngIf="!flags.get('schemaRegistryConfigLoading')">
        <div class="mb-3">
          <label for="schemaRegistryUrl" class="form-label">Schema Registry URL:</label>
          <input required [(ngModel)]="schemaRegistryConfig.url" (ngModelChange)="savedAt.delete('schemaRegistryConfig')" type="text" class="form-control" id="schemaRegistryUrl" placeholder="e.g. http://localhost:8081" aria-describedby="schemaRegistryUrlHelp">
          <div id="schemaRegistryUrlHelp" class="form-text">The base URL of your Schema Registry server's REST API.</div>
        </div>

        <div *ngIf="errors.get('getSchemaRegistryConfig')" class="alert alert-danger" role="alert">
          {{ errors.get('getSchemaRegistryConfig')?.message }}
        </div>
        <div *ngIf="errors.get('saveSchemaRegistryConfig')" class="alert alert-danger" role="alert">
          {{ errors.get('saveSchemaRegistryConfig')?.message }}
        </div>
        <div *ngIf="savedAt.get('schemaRegistryConfig')" class="alert alert-success" role="alert">
          Successfully updated at {{ savedAt.get('schemaRegistryConfig') | date:'medium' }}.
        </div>

        <button *ngIf="!flags.get('schemaRegistryConfigSaving')" type="button" class="btn btn-primary" (click)="saveSchemaRegistryConfig()">Save</button>
        <div *ngIf="flags.get('schemaRegistryConfigSaving')">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div> Saving...&nbsp;
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="ksqldb" role="tabpanel" aria-labelledby="ksqldb-tab" tabindex="0">
      <h6>KsqlDB Settings</h6>

      <div *ngIf="flags.get('ksqlDbConfigLoading')" class="text-center">
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div *ngIf="!flags.get('ksqlDbConfigLoading')">
        <div class="mb-3">
          <label for="ksqlDbUrl" class="form-label">ksqlDB Server URL:</label>
          <input required [(ngModel)]="ksqlDbConfig.url" (ngModelChange)="savedAt.delete('ksqlDbConfig')" type="text" class="form-control" id="ksqlDbUrl" placeholder="e.g. http://localhost:8088" aria-describedby="ksqlDbUrlHelp">
          <div id="ksqlDbUrlHelp" class="form-text">The base URL of your ksqlDB server's REST API.</div>
        </div>

        <div *ngIf="errors.get('getKsqlDbConfig')" class="alert alert-danger" role="alert">
          {{ errors.get('getKsqlDbConfig')?.message }}
        </div>
        <div *ngIf="errors.get('saveKsqlDbConfig')" class="alert alert-danger" role="alert">
          {{ errors.get('saveKsqlDbConfig')?.message }}
        </div>
        <div *ngIf="savedAt.get('ksqlDbConfig')" class="alert alert-success" role="alert">
          Successfully updated at {{ savedAt.get('ksqlDbConfig') | date:'medium' }}.
        </div>

        <button *ngIf="!flags.get('ksqlDbConfigSaving')" type="button" class="btn btn-primary" (click)="saveKsqlDbConfig()">Save</button>
        <div *ngIf="flags.get('ksqlDbConfigSaving')">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div> Saving...&nbsp;
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="connectors" role="tabpanel" aria-labelledby="connectors-tab" tabindex="0">
      <h6>Kafka Connect Settings</h6>

      <div *ngIf="flags.get('kafkaConnectConfigLoading')" class="text-center">
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div *ngIf="!flags.get('kafkaConnectConfigLoading')">
        <div class="mb-3">
          <label for="kafkaConnectUrl" class="form-label">Kafka Connect Worker URL:</label>
          <input required [(ngModel)]="kafkaConnectConfig.url" (ngModelChange)="savedAt.delete('kafkaConnectConfig')" type="text" class="form-control" id="kafkaConnectUrl" placeholder="e.g. http://localhost:8083" aria-describedby="kafkaConnectUrlHelp">
          <div id="kafkaConnectUrlHelp" class="form-text">The base URL of your Kafka Connect worker's REST API.</div>
        </div>

        <div *ngIf="errors.get('getKafkaConnectConfig')" class="alert alert-danger" role="alert">
          {{ errors.get('getKafkaConnectConfig')?.message }}
        </div>
        <div *ngIf="errors.get('saveKafkaConnectConfig')" class="alert alert-danger" role="alert">
          {{ errors.get('saveKafkaConnectConfig')?.message }}
        </div>
        <div *ngIf="savedAt.get('kafkaConnectConfig')" class="alert alert-success" role="alert">
          Successfully updated at {{ savedAt.get('kafkaConnectConfig') | date:'medium' }}.
        </div>

        <button *ngIf="!flags.get('kafkaConnectConfigSaving')" type="button" class="btn btn-primary" (click)="saveKafkaConnectConfig()">Save</button>
        <div *ngIf="flags.get('kafkaConnectConfigSaving')">
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
          </div> Saving...&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
