<p class="placeholder-glow" *ngIf="isLoading">
  <span class="placeholder col-12"></span>
  <span class="placeholder col-12"></span>
  <span class="placeholder col-8"></span>
</p>
<div class="row" *ngIf="!isLoading">
  <div class="row mt-4">
    <h4>Consumer Groups</h4>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Type</th>
          <th scope="col">Coordinator</th>
          <th scope="col">Simple Consumer Group</th>
          <th scope="col">Partition Assignor</th>
          <th scope="col">Group State</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consumerGroup of consumerGroups">
            <th scope="row">{{consumerGroup.id}}</th>
            <td>{{consumerGroup.type}}</td>
            <td>{{consumerGroup.coordinator}}</td>
            <td></td>
            <td>{{consumerGroup.partitionAssignor}}</td>
            <td>{{consumerGroup.groupState}}</td></tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
