<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/fragments/templates :: head"></head>
<body>

<div th:replace="views/fragments/menu :: menu"></div>

<div class="ui main text container">
    <h1 class="ui header" th:text="${'Cluster (Controller: '+clusterDetails.controller.host+')'}">Cluster</h1>
    <p>Cluster ID: <span th:text="${clusterDetails.id}"></span></p>
    <h3>Brokers:</h3>
    <div class="ui middle aligned divided list">
        <div class="item" th:each="node : ${clusterDetails.nodes}">
            <i class="server icon"></i>
            <div class="content">
                <a class="header" href="/node/{id}" th:text="${node.host+':'+node.port}"></a>
            </div>
        </div>
    </div>
</div>

<div th:replace="views/fragments/templates :: scripts"></div>
</body>
</html>
