<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/fragments/templates :: head"></head>
<body>
<div th:replace="views/fragments/templates :: header"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="views/fragments/menu :: menu"></div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content min-vh-100">
            <div th:replace="views/fragments/templates :: title"></div>
            <p class="placeholder-glow" id="clusterDetailsLoading">
                <span class="placeholder col-12"></span>
                <span class="placeholder col-12"></span>
                <span class="placeholder col-8"></span>
            </p>
            <div class="row">
                <h5 th:text="${'Controller: '+clusterDetails.controller.host}"></h5>
                <h5 th:text="${'Cluster ID: '+clusterDetails.id}"></h5>
                <h5>Brokers:</h5>
                <div>
                    <div class="item" th:each="node : ${clusterDetails.nodes}">
                        <i class="server icon"></i>
                        <div class="content">
                            <a class="header" href="/node/{id}" th:text="${node.host+':'+node.port}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div th:replace="views/fragments/templates :: scripts"></div>
<script>

</script>
</body>
</html>
