<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/fragments/templates :: head"></head>
<body>

<div class="ui main text container">
    <h1 class="ui header" >Connect</h1>
    <h3>Connections:</h3>
    <button class="ui labeled icon button" id="addConnection">
        <i class="plus icon"></i>
        Create Connection
    </button>
    <div class="ui divided list" id="connection">
        <div class="ui placeholder loadingPlaceholder" id="connectionLoading">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</div>

<div class="view-element" id="connectionItemView">
    <div class="item">
        <div class="content">${name}<br>${host}
            <button class="ui right floated button connect" data-connection-id="${id}">Connect</button>
        </div>
    </div>
</div>
<div th:replace="views/fragments/templates :: scripts"></div>
<script>
$(document).ready(function(){
    get( 'connection', function(connection) {
        renderView($("#connection"),$("#connectionItemView"),connection);
        $(".connect").click(function(){
            connect($(this).data("connection-id"),function(response){
                 window.location.href = CONFIG.baseUrl;
            });
        });
    });
    $("#addConnection").click(function(){
        createConnection({
                name: 'name-x',
                host: '127.0.0.1',
                port: '9066'
            });
    });
});
</script>
</body>
</html>
