<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/fragments/templates :: head"></head>
<body>

<div class="ui main text container">
    <h1 class="ui header" >Connect</h1>
    <h3>Connections:</h3>
    <button class="ui labeled icon button" id="addConnection">
        <i class="plus icon"></i>
        Add Connection
    </button>
    <div class="ui middle aligned divided list" id="connections">
    </div>
</div>

<div class="view-element" id="connectionItemView">
    <div class="item"><i class="server icon"></i><div class="content"><div class="header">${name}</div><div class="description">${host}</div></div><button class="mini ui button connect" data-connection-id="${id}">Connect</button></div>
</div>
<div th:replace="views/fragments/templates :: scripts"></div>
<script>
$(document).ready(function(){
    getConnections( function(connections) {
        renderView($("#connections"),$("#connectionItemView"),connections);
        $(".connect").click(function(){
            connect($(this).data("connection-id"),function(response){
                 window.location.href = CONFIG.baseUrl;
            });
        });
    });
    $("#addConnection").click(function(){
        createConnection({
                name: 'name-x',
                host: '127.0.0.1',
                port: '9066'
            });
    });
});
</script>
</body>
</html>
