<div class="min-vh-100 d-flex align-items-center justify-content-center">
  <div class="container connectContainer">
    <div class="row">
      <h1>
        <img src="/images/logo-shape-v1.svg" style="width:1.7em; margin-top:-0.3em">
        Kafkador
      </h1>
    </div>

    <div class="row text-center ">
      <h4>Connect to Cluster</h4>
      <p class="text-gray-500">
        Or connect to a new one by <a href="#">Adding New Cluster</a>
      </p>
    </div>

    <div class="row" id="connection">
      <div *ngFor="let conn of connections">
        <div class="card m-1">
          <div class="card-body">
            <h5>{{ conn.name }}</h5>
            <span class="text-gray-500">{{ conn.host }}:{{ conn.port }}</span>
            <button class="btn btn-primary connect float-end" type="button" (click)="connect(conn.id)">
              Connect
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
