.connect-container {
    max-width: 540px;
}
.connect-container h1 {
    font-weight: bold;
    text-align: center;
}
.connect-container h4 {
    margin-top: 0.5em;
    margin-bottom: 0em;
}
.connect-container h5 {
    margin-bottom: 0em;
}
.connect-container .footer {
  color: var(--app-gray-300);
  font-size: 0.7em;
  margin-top: 0.8em;
}
#connection .connect {
   margin-top: -1.2em;
}
